*{
    box-sizing: border-box;
} 

body{
    background-color: darksalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

#header-navb{
    border-radius: 0%;
    border: 0px;
    background-color: goldenrod;
}

.navbar-brand{
    padding: 20px;
}

.navbar-brand h1{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.6em;
    text-transform: uppercase;
    border: 0px;
    margin: 0px;
    line-height: 20px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration:none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid black ;
}

/*.navbar-header button.navbar-toggle{
  clear: both;
}*/

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.4em;
}

.text-center{
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
}

.col-md-12, .col-sm-12, .col-xs-12{
    padding: 8px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background: darkgrey;
    margin-bottom: 10px;
}

#collapsable-nav, .collapse, .navbar-collapse{
    background-color: indianred;
    color: black;
}



/*.r1, .r2, .r3{
    
}*/
  
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
 
  /* End Header */
}